<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gurukula</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body >
   
    <d>
      <form name = "form" action = "{% url "myform" %}" 
      method = "POST" >{% csrf_token %}
            <div class="mb-3">
              <label for="empname" class="form-label">Emoploy Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" name="empname"aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">As per ID</div>
            </div>
            <div class="mb-3">
              <label for="empid" class="form-label">Employ Id</label>
              <input type="text" class="form-control" name="empid" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="empdept" class="form-label">Department</label>
                <input type="text" class="form-control" name="empdept" id="exampleInputPassword1">
              </div>
              <div class="mb-3">
                <label for="empphone" class="form-label">Phone NO.</label>
                <input type="text" class="form-control" name="empphone" id="exampleInputPassword1">
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </d>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>